<h2>
    login
</h2>

{{!-- login form  that takes in a username email and password--}}

<form>
    <div class="form-group">
        <label for="email">email:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
    {{!-- end of login form --}}
    
    {{!-- script to handle login form submission --}}
    <script src="/js/login.js"></script>
    {{!-- end of script to handle login form submission --}}

